<!-- <p>app-title-bar works!</p> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Movie Scroll</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
     
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" [(ngModel)]="searchText" type="search" placeholder="Search"  aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

  </nav>
<div class="row-fluid">
    <div class="col-lg-12 col-md-10 ">
        <div class="cover-container">
           
            <!-- <div class="cover-item" >
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header">Quantum Of Silence</div>
                    <div class="card-body">
                      <img class="card-img-bottom" src="../../assets/a.png" alt="Card image cap">
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-secondary btn-block" href="#" role="button">Like</a>
                        <a class="btn btn-outline-secondary btn-block" href="#" role="button">Own</a>
                    </div>
                  </div>
            </div> -->
            <div class="card bg-light mb-3 cover-item" *ngFor="let movie of movies | filter:searchText " style="max-width: auto;">
              <div class="card-header">{{movie.title}}</div>
              <div class="card-body">
                <img class="card-img-bottom img-responsive fit-image" src="{{movie.poster_path}}" alt="{{movie.title}}+' image'">
              </div>
              <div class="card-footer">
                  <a class="btn btn-outline-secondary btn-block" href="#" role="button">Like</a>
                  <a class="btn btn-outline-secondary btn-block" href="#" role="button">Own</a>
              </div>
            </div>
           
        </div>
    </div>
</div>

<!-- <img *ngFor="let movie of movies | filter:searchText " src="{{movie.poster_path}}" alt="{{movie.title}}+' image'"> -->